# This is a test commit to trigger the workflow
name: Deploy CDK

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.MYSANDBOX_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.MYSANDBOX_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.MYSANDBOX_AWS_REGION }}

      - name: CDK Bootstrap
        run: npx cdk bootstrap

      - name: CDK Deploy
        run: npx cdk deploy --require-approval never
